{block content}
{varType string $error}

{snippet main}
    {ifset $error}
        <span style="color: red;">{$error}</span>
    {else}
        <a n:href="updatePointsOfSale!" class="ajax">Synchronize Points of sale</a>
    {/ifset}
{/snippet}