{block content}
{varType string $errorMessage}

{snippet main}
    {ifset $errorMessage}
        <span style="color: red;">{$errorMessage}</span>
    {else}
        <a n:href="updatePointsOfSale!" class="ajax">Synchronize Points of sale</a>
    {/ifset}
{/snippet}